name: kvideo
description: "Flutter Video Player"
version: 0.0.3
homepage: https://github.com/khaled-0/kVideo

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  pigeon: ^26.0.0


flutter:
  plugin:
    platforms:
      android:
        package: dev.khaled.kvideo
        pluginClass: KVideoPlugin
      ios:
        pluginClass: KVideoPlugin
